html {
  background-color: black;
}

body {
  background-color: #faf2e4;
  border: 3px solid #d1633c;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 10%; 
  margin-left: 10%; 
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%; 
  padding-left: 2%; 
  font-family: sans-serif
}

p {
position: absolute; 
bottom: 80px; 
left: 0; 
width: 100%; 
color: white;
font: 900 100%/1.2 'Coming Soon', cursive;
}

droite {
position: absolute; 
bottom: 235px; 
left: 220px; 
width: 100%; 
color: white;
font: 900 100%/1.2 'Coming Soon', cursive;
bottom: 115px; 
}

hr {
	border-bottom: 1px solid #57b1dc;
}

span {
	white-space: nowrap;
}

footer {
	color: grey;
	font-size: 70%;
	margin-bottom: 10px;
	font-weight: lighter;
}

.imageCentre {
	display: block;
	text-align: center;	
}

.imageLogo {
	display: block;
	height: 50px;
	width: 50px;
}

.imageMenu {
 position: relative; 
 width: 100%;
text-align: center;
	display: block;
right: 105px;
}

.imageAcceuil {
	display: block;
	text-align: center;	
	height: 35px;
	width: 35px;
}